@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Libre+Franklin:wght@100&family=Montserrat:wght@100;200;300;400;500;600&family=Open+Sans:wght@700&family=Poppins:wght@400;500&family=Roboto:wght@400;500;700&display=swap');
 

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;   
}

.main {
    background-color: #1D2437;
    background-image: url('../images/bg.png');
}

.container {
    max-width: 1070px;
    margin: auto;
    color: #FFF;
}


header {
    padding-top: 45px;
}

.heroArea {
    display: flex;
}

.heroArea .leftside {
    flex: 1;
}

.heroArea .leftside h1 {
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
}

.heroArea .leftside .subtitle {
    font-size: 16px;
    line-height: 23px;
    color: #999;
}

.heroArea .rightside {
    flex: 1;
    background-image: url('../images/hero1.png');
    background-size: 100% auto;
}

